* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    min-height: 100vh;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* Dark mode Css*/

body.dark-mode .content-section {
    background-color: #000000;
}

body.dark-mode .feature-item {
    background-color: #282828;
    color: #f4f4f4;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 65px 20px 20px 20px;
    min-height: calc(100vh - 120px);
    gap: 100px;
}

.illustration-section img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

.content-section {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 350px;
}

.content-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.section-title {
    margin-bottom: 2rem !important;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 3rem 10rem;
    width: 100%;
}

.feature-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    font-size: 2.5rem;
    color: #e74c3c;
    margin-bottom: 1rem;
}

.feature-title {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.feature-description {
    font-size: 0.9rem;
    color: var(--light-text-color);
}

@media (max-width: 768px) {
    .feature-grid {
        grid-template-columns: 1fr;
        padding: 3rem 3rem;
        gap: 1.5rem;
    }

    .about-container {
        gap: 10px;
    }

    .about-container {
        padding-top: 85px;
    }

    .content-section {
        max-width: 100%;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .content-section p {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) and (max-width: 1244px) {
    .content-section {
        margin-top: 58px;
    }
}